$background: black;
$foreground: white;
$navbar-height: 70px;
$navbar-height-small: 50px;
$navbar-height-big: 3vw;
$navbar-menu-width: 150px;
$navbar-menu-width-big: 8vw;
$navbar-padding: 5px 50px 5px 50px;
$navbar-padding-small: 0 30px;
$navbar-padding-big: 0.3vw 3vw;
$navbar-margin: 5px 5px 10px 5px;
$navbar-margin-big: 0.3vw 0.3vw 0.6vw 0.3vw;
$font-size: 20px;
$font-size-small: 15px;
$font-size-big: 1vw;
$padding-main: 0 50px;
$padding-small: 0 30px;
$padding-big: 0 3vw;
$line-height: 45px;
$line-height-small: 30px;
$line-height-big: 3vw;